@model IEnumerable<ComputerShop.Models.Category>

@foreach (Category category in Model)
{
    <a class="dropdown-item" asp-controller="Computer" asp-action="Index" asp-route-category="@category.Name">@category.Name</a>
}
