@{
    ViewData["Title"] = "Home Page";
}

<div id="home" class="container-fluid">
    <div id="home-div" class="text-center text-light">
        <h1 class="display-4 font-weight-bold mb-4">ComputerShop</h1>
        <a asp-action="Index" asp-controller="Product" asp-route-category="Laptops" class="btn btn-primary">Browse products</a>
    </div>
</div>
